include README.rst
include LICENSE
include AUTHORS.md
include CREDITS
include requirements.txt

recursive-include arrand/data *.txt
recursive-include arrand/data/vocalized *.txt
recursive-include arrand/doc *.*
recursive-include arrand/doc/html *.*


